# ML Service
PORT=8000
MODEL_PATH=https://drive.google.com/uc?export=download&id=14M3XKqrxk5weGqscwUXFqj7rHqHPQxlN

# Comma-separated allowed origins
ALLOWED_ORIGINS=https://signlearn-backend.onrender.com,https://code-crusdors2.vercel.app/